.projects-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(238, 231, 231, 0.267);
}
.projects-grid {
  padding: 2rem 6rem 2rem 6rem;
  grid-auto-rows: minmax(100px, auto);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 2rem;
}
