.projects-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}
.projects-grid {
  padding: 2rem;
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-row-gap: 2rem;
}
.link {
  height: 10px;
  width: 10px;
}
