.projects-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}
.projects-grid {
  padding: 2rem 6rem 2rem 6rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 2rem;
}
