.skills-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}

.skills-grid {
  padding: 2rem;
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-row-gap: 2rem;
  /* box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px; */
}
/* .skills-title {
  background-color: #008073;
  padding: 30px 40px;
  margin-bottom: 40px;
  line-height: 3.2rem;
  position: relative;
} */
.skills-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.9rem;
  margin: 0;
  text-align: left;
}
.yash {
}
