.card {
  /* box-sizing: border-box;
  border-radius: 12px; */
  background-color: white;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
  width: 94%;
}
//
.card-img img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 80px;
  object-fit: contain;
}
.card-name {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
