.projectcard-main {
  box-sizing: border-box;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  width: 90%;
}
.projectcard-img {
  box-sizing: border-box;
  box-shadow: 0 0.1px 1px rgba(0, 0, 0, 0.25);
  height: 220px;
  overflow: hidden;
}

.projectcard-img img {
  margin-top: 1rem;
  height: 180px;
  object-fit: contain;
  /* min-width: 220px; */
}

.projectcard-content {
  padding: 20px;
  text-align: left;
  height: 8rem;
}
.heading {
  color: rgb(23, 107, 99);
  font-family: "Roboto", sans-serif;
  font-weight: 540;
  line-height: 2.5rem;
  font-size: 24px;
}
.projectcard-content p {
  color: #2e942b;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0.6rem 0 1rem 0;
}
.projectcard-main button {
  margin-bottom: 1rem;
  height: 2.7rem;
  width: 8rem;
  color: white;
  background-color: #2e942b;
}
.projectcard-link {
  padding: 0rem 4rem 0 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
}
