.projectCard-main {
  margin: 0 2rem 0 2rem;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  width: 95%;
}

.projects-img img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 120px;
  object-fit: contain;
}
.heading {
  color: rgb(23, 107, 99);
}
.projects-desc {
  background-color: white;
}
