.tools-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}
.tools-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.9rem;
  margin: 0;
  text-align: left;
}
.tools-grid {
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 2rem;
}
