.home {
  background-color: rgb(27, 23, 18);
  border-width: 6px;
  border-color: white;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 40vh;
}
.home-heading {
  margin: 0;
  color: white;
}
